html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body{background:#fff;font-family: Arial,"微软雅黑";font-size: 14px;color: #fff;}
a,a:hover{color:#333;}
/*----------------清除浮动----------------*/
.clearFix:after{
	content: '';
	clear: both;
	display: block;
}
.Ymiddle{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.Xcenter{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
/*----------------主体----------------*/
#fmBox{
	position: absolute;
	top: 20px;
	overflow: hidden;
	/*background: #1a1815;*/
}
.center{
	position: relative;
	width: 492px;
	height: 945px;
	margin: 0 20px;	
}

/*----------------头部（歌曲标题）----------------*/
header{
    position: relative;
    width: 100%;
    height: 82px;
    margin-top: 30px;
}
header .back{
	display: block;
	width: 33px;
	height: 30px;
	left: 6px;
	background: url(../img/icon-00.png) no-repeat 0 0;
	
}
header .m-title{
	position: absolute;
	left: 62px;
	top: 17px;
}
header .m-title h3{
	font-size: 18px;
	font-weight: bold;
	line-height: 28px;
}
header .m-title p{
	color: #a6a5a5;
}
header .share{
	display: block;
	width: 33px;
	height: 30px;
	right: 0;
	background: url(../img/icon-00.png) no-repeat 0 -39px;
}


/*----------------分隔线----------------*/
.separator{
	background: -webkit-linear-gradient(left,#787777,#fff,#787777);
	height: 1px;
	width: 60%;
}


/*----------------主体（唱片页）----------------*/
.g-main{
	height: 680px;
	cursor: pointer;
}
.g-main .m-cdWrap,.g-main .m-lyricWrap{
	position: relative;
    width: 100%;
    height: 680px;
}
.g-main .m-cdWrap{
	display: none;
}
.g-main .m-cdWrap .needle{
	position: absolute;
	left: 47%;
    height: 172px;
    width: 118px;
    background: url(../img/needle.png) no-repeat center center;
    background-size: cover;
    z-index: 2;
    transform-origin: 12px 0;
    transform: rotate(-25deg);
    transition: all 0.5s;
}
.g-main .m-cdWrap .needlePlay{
	transform: rotate(0deg);
}
.g-main .m-cdWrap .cdBg{
    top: 92px;
    background: url(../img/disco.png) no-repeat center center;
    background-size: cover;
    height: 400px;
    width: 400px;
    z-index: 1;
    transform-origin: center center;
}
.g-main .m-cdWrap .cdBg .cdPic{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 262px;
    width: 262px;
    border-radius: 50%;
    background: url(../img/cdPic-01.jpeg) no-repeat center center;
    background-size: cover;
    transform-origin: center center;
}

/*----------------黑胶旋转----------------*/
.g-main .m-cdWrap .z-active{
	left: 46px;
    animation-name: disco-rotate;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
@keyframes disco-rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*----------------主体（歌词页）----------------*/
.g-main .m-lyricWrap {
    z-index: 99px;
    display: none;
}
.g-main .m-lyricWrap .lyricBox{
	position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.g-main .m-lyricWrap .lyricBox .lyrics{
    position: absolute;
    width: 100%;
    height: 100%;
    top:340px;
    font-family: Arial, "微软雅黑";
    text-align: center;
    font-size: 16px;
    line-height: 56px;    
    color: #aaa;
    transition: .5s;
}
.g-main .m-lyricWrap .lyricBox .lyrics li{
	user-select: none;
	-webkit-user-select:none;
}
.g-main .m-lyricWrap .lyricBox .lyrics .light-lyric {
    color: #fff;
}
.g-main .z-active{
	display: block;
}

/*----------------进度条----------------*/
.m-progress{
	position: relative;
	height: 10px;
	font-size: 10px;
}
.m-progress .time{
	position: absolute;
	color: #fff;
}
.m-progress .songTime{
	right: 0;
	/*color: #797264;*/
}
.m-progress .progressBar{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 10px;
    width: 390px;
    cursor: pointer;
}
.m-progress .progressBar .line{
	height: 4px;
	border-radius: 2px;
}
.m-progress .progressBar .progressLine{
	width: 100%;
	background-color: #797264;
}
.m-progress .progressBar .currentProgress{
	background-color: #ff3b3b;
	left: 0;
	width: 0;
}
.m-progress .progressBar .progressHandle{
	width: 21px;
	height: 21px;
	background: #FFFFFF;
	border-radius: 50%;
	left: 0;
}

/*----------------控制栏----------------*/
.m-controlBtn{
	margin: 30px 0;
	height: 85px;
	position: relative;
}
.m-controlBtn .mode{
	left: 0;
	width: 35px;
	height: 31px;
	background: url(../img/icon-01.png) no-repeat 0 -40px;
}
.m-controlBtn .songControl{
	width: 290px;
	height: 100%;
}
.m-controlBtn .songControl .u-btn{
	display: inline-block;
	width: 40px;
	height: 41px;
	cursor: pointer;
}
.m-controlBtn .songControl .prev{
	background: url(../img/icon-02.png) no-repeat 0 0;
}
.m-controlBtn .songControl .next{
	background: url(../img/icon-02.png) no-repeat 0 -49px;
	right: 0;
}
.m-controlBtn .songControl .play{
	display: inline-block;
	width: 85px;
	height: 100%;
	background: url(../img/icon-03.png) no-repeat 0 0;
}
.m-controlBtn .songControl .onplay{
	background: url(../img/icon-03.png) no-repeat 0 -95px;
}
.m-controlBtn .channel{
	right: 0;
	width: 32px;
	height: 28px;
	background: url(../img/icon-00.png) no-repeat 0 -80px;
}
.channelList{
	display: none;
	position: absolute;
	z-index: 99;
	border-radius: 10px 10px 0 0;
	background: #fff;
	color: #000;
	bottom: 15%;
	box-sizing: border-box;
	width: 100%;
	padding: 10px 30px;
	height: 45%;
	overflow: scroll;
}
.channelList li{
	line-height: 126px;
	border-bottom: solid 1px #eee;
	font-size: 24px;
}
.channelList li img{
	width: 80px;
	vertical-align: middle;
	margin-right: 10px;
}

/*----------------背景----------------*/
.m-glass{
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	z-index: -1;
	width: 100%;
	height: 100%;
}
.m-glass .glassBg{
	width: 100%;
	height: 100%;
	/*高斯模糊&明度降低*/
	filter: blur(40px) brightness(40%);
}